body { 
	font-family:Verdana, Helvatica, Arial, sans-serif;
    background-color: #E2EDFF;
    line-height: 125%;
    padding: 15px;
	}
	
p    {
	color: navy;
	font-size: small;
   }
   
h1 {
    font-family: "Trebuchet MS", Helvatica, Arial, sans serif;
    font-size: x large;
	background-color: navy;
	color: white;
   }	
   
h2  {
    color: white;
	background-color: navy;
	font-size: medium;
	font-weight: normal;
   }
   
em {
	text-transform: uppercase;
   }
   
a { 
   font-weight: bold;
 }
 
